@media only screen and (max-width: 1024px){
    .main h1 {
        font: 50px/50px 'Open Sans-Light';
    }
    .main h1 span {
        font: 50px/50px 'Open Sans-Light';
    }
}
@media only screen and (max-width: 992px){
    .owl-next{
        right: 2px;
    }
    .owl-prev{
        left: 2px;
    }
    .ui-widget {
        top: 0;
        position: absolute;
        left: 650px;
        max-width: 650px;
    }
}
@media only screen and (max-width: 767px){
    .ui-widget {
        left: 0;
        max-width: 350px;
}
    form {

        padding-bottom: 10px;
        max-width: 575px;
        margin: auto;
    }

    nav .menu-btn{
        left: -12%;
        top: 0;
    }
    .main h1 {
        font: 25px/25px 'Open Sans-Light';
    }
    .main h1 span {
        font: 25px/25px 'Open Sans-Light';
    }
@media only screen and (max-width: 420px) {
    .ui-widget {
        left: 0;
    }
}
    .conteiner {
        background-color: rgba(36, 47, 53, 0.7);
        padding-left: 25px;
        padding-right: 0;
        padding-top: 0;
    }

    .menu a {
        display: none;
    }

    .menu {
        background-color: rgba(36, 47, 53, 0.9);
        padding-left: 24px;
        padding-right: 24px;
    }

    .main {
        background-image: url("../images/bg_mobile.jpg");
    }

    .main h1 {
        font: 12px/12px 'Open Sans-Light';
    }
    .main h1 span {
        font: 12px/12px 'Open Sans-Light';
    }
    .image {
        width: 100%;
    }
    .specialist_first {
        max-width: 100%;
        margin-bottom: 55px;
    }
    .specialist {
        flex-wrap: wrap;
    }
    .last_post {
        flex-wrap: wrap;
    }
    .adress {
        padding: 52px 50px 47px 45px;
    }
    .item.d-flex {
        display: block;
        text-align: left;
    }
    .last_post {
    flex-wrap: wrap;
    }
    .last_post_img{
        width: 100%;
    }
    .write {
        width: 100%;
    }
}
@media only screen and (max-width: 375px){
    .main {
        background-image: url("../images/bg_mobile.jpg");
    }
}
@media only screen and (max-width: 360px){
    .main {
        background-image: url("../images/bg_mobile.jpg");
    }
}
@media only screen and (max-width: 320px){
    .main {
        background-image: url("../images/bg_mobile.jpg");
    }
}