@media only screen and (max-width: 1024px){
    .main h1 {
        font: 50px/50px 'Open Sans-Light';
    }
    .main h1 span {
        font: 50px/50px 'Open Sans-Light';
    }
}
@media only screen and (max-width: 992px){
    .owl-next{
        right: 2px;
    }
    .owl-prev{
        left: 2px;
    }
    .ui-widget {
        top: 0;
        position: absolute;
        left: 650px;
        max-width: 650px;
    }
}
@media only screen and (max-width: 767px){
    .ui-widget {
        left: 0;
        max-width: 350px;
}
    form {

        padding-bottom: 10px;
        max-width: 575px;
        margin: auto;
    }

    nav .menu-btn{
        left: -25%;
        top: 0;
    }
    .main h1 {
        font: 25px/25px 'Open Sans-Light';
    }
    .main h1 span {
        font: 25px/25px 'Open Sans-Light';
    }
    nav.nav-open .menu-btn {
        right: -50%!important;
    }

    nav{
        width: 80%;

    }
    .section{
        padding-left: 15px;
        padding-right: 15px;
    }
    .pictures{
        padding-left: 15px;
        padding-right: 15px;
    }
    .owl-carousel.owl-loaded{
        padding-left: 15px;
        padding-right: 15px;
    }
@media only screen and (max-width: 420px) {
    .ui-widget {
        left: 0;
    }
}
    .container {
        background-color: rgba(36, 47, 53, 0.7);
        padding-left: 25px;
        padding-right: 0;
        padding-top: 0;
    }
    .main h1 {
        font: 12px/12px 'Open Sans-Light';
    }
    .main h1 span {
        font: 12px/12px 'Open Sans-Light';
    }
    .image {
        width: 100%;
    }
    .specialist-first {
        max-width: 100%;
        margin-bottom: 55px;
    }
    .specialist {
        flex-wrap: wrap;
    }
    .last-post {
        flex-wrap: wrap;
    }
    .address {
        padding: 52px 50px 47px 45px;
    }
    .item.d-flex {
        display: block;
        text-align: left;
    }
    .last-post {
    flex-wrap: wrap;
    }
    .last-post-img{
        width: 100%;
    }
    .write {
        width: 100%;
    }
    .cell {
        max-width: 100%;
        margin-bottom: 20px;
    }
    .address{
        padding: 0 50px 0 45px;
    }
    .cell span{
        margin-top: 50px;
    }

}

@media only screen and (max-width: 375px){
    .main {
        background-image: url("../images/bg_mobile.jpg");
    }
}
@media only screen and (max-width: 360px){
    .main {
        background-image: url("../images/bg_mobile.jpg");
    }
}
@media only screen and (max-width: 320px){
    .main {
        background-image: url("../images/bg_mobile.jpg");
    }
}